.wrap-header{
    border-bottom: 1px solid #fff;
    z-index: 100;
    width: 100%;
    transition: 500ms;
    position: relative;
}

.hide-header{
    position: fixed!important;
    z-index: 888;
}

.wrap-header:hover{
    background-color: #fff;
}

.background-white{
    background-color: #fff;
}

.wrap-header .wrap-icon-header{
    padding: 0 10px;
}

.wrap-header .wrap-all-icon{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.wrap-header .wrap-content-header{
    position: relative;
    z-index: 10;
}

.wrap-header .icon-wrap{
    position: absolute;
    top: 25%;
    right: 0;
}

.wrap-header .amount-cart{
    color: #5c5c5c;
}

.wrap-header .wrap-icon-header:hover{
    text-decoration: none;
}

.wrap-header .wrap-logo>img{
    width: 20%;
    height: auto;
}
.wrap-header .width-100>img{
    width: 80% !important;
}
